body {
    background: #101820;
    color: #FEE715;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background: #FEE715;
    color: #101820;
    padding: 15px 0;
}

nav a {
    color: #101820;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 50px;
}

footer {
    background: #FEE715;
    color: #101820;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
